@import './../../../paint/color';

.master {
    min-height: 50px;
    transition: .3s;
    &.nailed {
        background-color: $Black;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
    }
    .menu-open {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .master {
        .menu-open {
            display: block;
            margin-left: auto;
            font-size: 30px;
        }
    }
}