$Gray: #c4c0bc;
$Dark-gray: #9b9895;
$Dark-gray-transparent: #72716f67;
$Black: #272323;
$White: #fffdfd;
$Light-green: rgb(88, 245, 88);
$Sharp-green: rgb(3, 243, 3);
$Ash-green: rgb(184, 235, 184);
$Dark-Blue: rgb(43, 43, 248);
$Cool-blue: rgb(96, 96, 230);
$Deep-blue: rgb(20, 30, 40);
$Sec-deep-blue: rgb(72, 108, 145);
$On-sec-deep-blue: rgb(4, 23, 43);
$On-deep-blue: rgb(255, 255, 255);
$Dark-orange: rgb(199, 80, 37);
$Sec-dark-orange: rgb(170, 97, 71);
$On-sec-dark-orange: rgb(92, 38, 18);