@import './../../paint/color';

.loaded {
    min-height: 100vh;
    background-color: $White;
    overflow-x: hidden;
    transition: 2s;
    &.darkmode {
        background-color: $Deep-blue;
    }
    .cursor {
        display: block;
        width: 3px;
        height: 3px;
        background-color: $Dark-orange;
        mix-blend-mode: difference;
        position: absolute;
        z-index: 20;
        pointer-events: none;
        transition: transform .5s;
        opacity: 1;
        &.links {
            transform: scale(50);
            background-color: $White;
            mix-blend-mode: difference;
            opacity: 1;
        }
        &.photo {
            transform: scale(150);
            background-color: $White;
            mix-blend-mode: exclusion;
            opacity: 1;
        }
        &.beep {
            animation: beepCursor 1 .5s forwards;
            &:first-child {
                animation-delay: 0s;
            }
            &:nth-child(2) {
                animation-delay: .1s;
            }
            &:last-child {
                animation-delay: .2;
            }
        }
        @keyframes beepCursor {
            0% {
                background-color: $Black;
                opacity: 1;
            }
            100% {
                background-color: $White;
                opacity: .2;
                transform: scale(70);
            }
        }
        &:first-child {
            transition-delay: .3s;
        }
        &:nth-child(2) {
            transition-delay: .4s;
        }
        &:last-child {
            transition-delay: .5s;
        }
    }
}