@import './../../../paint/color';

.skills {
    // background-color: $Black;
    .operation {
        gap: 20px;
        button {
            font-family: amaReg;
            &.btn-dark {
                font-family: amaBold;
            }
        }
    }
    .showscreen {
        min-height: 500px;
    }
}

@media screen  and (max-width: 600px){
    .skills {
        padding: 0;
    }
}