@import './../../../paint/color';

.skills {
    // background-color: $Black;
    &.darkMode {
        .operation {
            button {
                &.activeBtn {
                    background-color: $Dark-orange;
                }
                &.inactiveBtn {
                    border: 1px solid $Dark-orange;
                    color: $Dark-orange;
                }
            }
        }
    }
    .operation {
        gap: 20px;
        button {
            font-family: amaReg;
            &.activeBtn {
                font-family: amaBold;
                background-color: $Black;
                color: $White;
            }
            &.inactiveBtn {
                background-color: transparent;
                color: $Black;
                border: 1px solid $Black;
            }
            
        }
    }
    .showscreen {
        min-height: 500px;
    }
}

@media screen  and (max-width: 600px){
    .skills {
        padding: 0;
    }
}