@import './../../../paint/color';
.tech-skills {
    padding-left: 100px;
    padding-right: 100px;
    clip-path: inset(0 0 0 100%);
    transition: clip-path .3s;
    &.show {
        clip-path: inset(0);
    }
    &.darkMode {
        clip-path: circle(0% at 20%);
        transition: 1s 1s;
        &.show {
            clip-path: circle(100% at 50%);
        }
        .tech {
            .front {
                background-color: $Deep-blue;
            }
            .back {
                background-color: $White;
                .lang {
                    color: $Deep-blue;
                }
            }
            &:last-child .front {
                svg {
                    color: $White;
                }
            }
        }
    }
    .tech {
        perspective: 400px;
        transform-style: preserve-3d;
        isolation: isolate;
        height: 250px;
        &:hover {
            .front,
            .back {
                transition: .3s;
            }
            .back {
                transform: rotateY(0deg);
                z-index: 2;
            }
            .front {
                transform: rotateY(-180deg);
                z-index: -1;
            }
        }
        .front,
        .back {
            top: 0;
            left: 0;
            inset: 10px 20px;
            transition: 3s;
        }
        .front {
            transform: rotateY(0deg);
            z-index: 2;
            background-color: $White;
            svg {
                width: 50%;
                height: 80%;
            }
        }
        .back {
            transform: rotateY(180deg);
            z-index: -1;
            background-color: $Black;
            overflow: hidden;
            .lang {
                font-family: amaReg;
                font-size: 4vw;
                color: $White;
            }
        }
        &:first-child .front {
            svg {
                color: brown;
            }
        }
        &:nth-child(2) .front {
            svg {
                color: blue;
            }
        }
        &:nth-child(3) .front {
            svg {
                color: yellow;
            }
        }
        &:nth-child(4) .front {
            svg {
                color: red;
            }
        }
        &:nth-child(5) .front {
            svg {
                color: skyblue;
            }
        }
        &:last-child .front {
            svg {
                color: $Gray
            }
        }
    }
}

@media screen  and (max-width: 600px){
    .tech-skills {
        padding-left: 6px;
        padding-right: 6px;
        clip-path: inset(0);
        display: none;
        // background-color: yellow;
        &.show {
            display: block;
        }
        .tech {
            height: 150px;
        }
    }
}