@import './../../../paint/color';

.contact {
    min-height: 100vh;
    background-image: url(./../../../asset/images/3922.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}